* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html {
  font-size: 62.5%;
}
body {
  font-family: 'Inter', sans-serif !important;
}
.hidden {
  display: none !important;
}
.contacto__box__formShedule-form {
  font-family: 'Inter', sans-serif !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacto__box__formShedule-form .form {
  margin: 0;
  padding: 1em 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacto__box__formShedule-form .form__title {
  text-align: center;
  font-size: 1.9rem;
  margin-bottom: 0.4em;
  color: #ffffff;
}
.contacto__box__formShedule-form .form__container {
  font-size: 1.4rem;
  width: 100%;
  display: -ms-grid;
  display: grid;
  gap: 1em;
  grid-auto-columns: 100%;
}
.contacto__box__formShedule-form .form__container__input {
  font-family: inherit;
  font-size: 1rem;
  padding: 0.8em 1em;
  outline: none;
  border: none;
  border: 1px solid #bbb0b0;
  border-radius: 1rem;
  width: 275px;
}
.contacto__box__formShedule-form .form__container__input--message {
  resize: none;
  padding: 1.8em 1em;
  margin-bottom: 0.5em;
  height: 235px;
}
.contacto__box__formShedule-form .form__container__cta {
  font-family: inherit;
  background-color: #34495e;
  color: #ffffff;
  border: none;
  font-weight: 300;
  padding: 0.7em 0;
  border-radius: 1rem;
  width: 110px;
  cursor: pointer;
  font-weight: 600;
  margin: 0 auto;
}
@media (max-width: 450px) {
  .contacto__form .form {
    padding: 3.5em 1em;
    margin: 40px auto;
  }
}
