@import "globals.less";
@import "variables.less";

#slide1Content h1 {
    width: 100%;
}
#slide1Content h1 strong{
    font-size: 4.4rem;
}
#slide2Content{
    width: 100%;
    left: 0;
    padding: 40px;
    p{
        font-size: 2.8rem;
    }
}
#slide3Content{
    width: 40%;
    left: 40px;
}

.slideContent{
    &__box{
        top: 20%;
        left: 30px;
        &__link{
            display: flex;
            a{
                font-size: 2.2rem;
            }
        }
    }
}
.content{
    &__proveedores{
        margin: 60px auto;
        #subtitle{
            margin: 40px 0 80px 0;
        }
        &__ayudamos{
            display: flex;
            align-items: center;
            justify-content: space-between;
            p{
                max-width: 430px;
            }
            &__link{
                right: 30px;
                border-radius: 20px;
            }
        }
    }
    &__beneficios{
        &__items{
            flex-direction: row;
            flex-wrap: wrap;
            margin: 40px auto;
            justify-content: center;
            gap: 40px;


            &__item{
                width: 300px;
            }

        }
    }
    &__casosExito{
       
        &__logos{
            flex-direction: row;
            flex-wrap: wrap;
            gap: 30px;
        }
    }
}
.content-empresa{
    &__header{
        h1{
            top: 120px;
        }
    }
    &__somos{
        text-align: center;
        margin: 40px;
    }
    &__servicios{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        img{
            margin-bottom: 100px;

        }
        h2{
            top: 269px;
            color: #ffffff;
            font-size: 3.2rem;
            width: 40%;
            height: 143px;
            background-color: rgba(60, 81, 112, 1);
            border-radius: 20px;
        }
        &__items{
            margin: 80px auto;
            display: flex;
            flex-direction: row;
            gap: 20px;
            justify-content: center;
            align-items: center;
            &__item{
                width: 233px;
                box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
                border-radius: 20px;
                height: 390px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                
                &-title{
                   height: 60px;
                   border-bottom: none;
                   margin: 10px;
                }
                &-text{
                    height: 130px;
                    border-top: 4px solid @color-secondary;
                    padding-top: 10px;
                    margin: 0 10px 20px 10px;
                }

               
            }
        }
    }
    &__banner{
        margin: 80px auto;
    }
}
.contacto{
    .section__header{
        &-content{
            &-text{
                width: 320px;
                top: 106px;
                left: 68px;
                border-radius: 20px 0 20px 10px;
            }
        }
    }
    &__txt{
        p{
            font-size: 3.6rem;
        }
        h3{
            font-size: 3.6rem;
        }
    }
    &__box{
        margin: 40px;
        &__iframe{
            iframe{
                width: 665px;
                height: 248px;
                border: 0;
               
            }

        }
        &__formShedule{
            display: flex;
            justify-content: center;
            align-items: flex-start;
            &__formShedule-form{

            }
            &__formSchedule__schedule{

            }
        }
    }
}

footer{
    .footer__header{
        background-color: @color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0px auto;
        width: 100%;
        gap: 50px;
        padding: 10px;
        &__phone{
            margin: 0;
            p{
                color: @color-white;
                margin-left: 20px;
            }
        }
        &__email{
            img{
                width: 35px;
                margin-right: 20px;
            }
        }
    }
    .footer__body{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-template-areas: "email address"
                             "links social";
        gap: 20px;
        justify-content: center;
        align-items: center;
        &__emailContact{
            text-align: left;
            grid-area: email;
            h2{
                margin: 10px 0;
            }
        }
        &__links{
            grid-area: links;
            text-align: left;
            margin: 0;
            ul{
                li{
                    margin: 10px 15px;
                }
            }
        }
        &__address{
            grid-area: address;
        }
        &__socialLinks{
            grid-area: social;
        }
    }
}