footer
    .footer__header
        .footer__header__phone 
            img(src="/images/icons/iconmonstr-smartphone-3.svg" alt="Icono de un teléfono")
            p#phone1 +52 (449) 166 6725
            P#phone2 +52 (449) 111 2476
        .footer__header__email 
            img(src="/images/icons/iconmonstr-email-10.svg" alt="Icono de un email")
            p contacto@aesolution.mx
    .footer__body
        .footer__body__emailContact
            h2 ¿Quieres más información?
            p Déjanos tu email
            form(action="POST")
                label(for="email")
                input(type="text", name="email",placeholder="Email")
                button(type="submit") Enviar
        .footer__body__links 
            h3 Enlaces Directos 
            ul 
                li
                    a(href="/index.html") Inicio
                li
                    a(href="/empresa.html") Servicios 
                li
                    a(href="/contacto.html") Contacto
                li
                    a(href="/aviso.html") Aviso de Privacidad
        .footer__body__address 
            img(src="/images/icons/iconmonstr-location-25.svg", alt="Icono de un mapa con locación")
            p JOSÉ CHAVOLLO 203 B COL. LÓPEZ MATEOS SALTO DE SALADO. C.P. 47268 SALTO DE LOS SALADO, AGS.
        .footer__body__socialLinks
            .footer__body__socialLinks-item 
                p Whatsapp 
                img(src="/images/icons/iconmonstr-whatsapp-3.svg", alt="ícono de whatsapp")
            .footer__body__socialLinks-item 
                p Síguenos 
                img(src="/images/icons/iconmonstr-facebook-4.svg", alt="ícono de facebook")
            .footer__body__socialLinks-item 
                p Chat en Vivo 
                img(src="/images/icons/iconmonstr-speech-bubble-comment-thin.svg", alt="ícono de chat")
    .footer__foot
        p AE Solution | 2022
        a(href="https://jmcsoluciones.com") #[strong JMC Soluciones] 
script(src="js/app-dist.js")
