header 
    .menu-top 
        p Bienvenido a AE Solution.
        a(href="aviso.html").menu-top__link Aviso de Privacidad
    nav.menu 
        section.menu__container 
            img(src="images/logotipos/LogotipoAEsolution.png").menu__logo
            ul.menu__links 
                li.menu__item 
                    a(href="index.html").menu__link Inicio
                li.menu__item 
                    a(href="empresa.html").menu__link Empresa
                li.menu__item 
                    a(href="contacto.html").menu__link Contacto
            .menu__hamburger 
                img(src="images/icons/iconmonstr-menu-right-lined.svg" alt="icono de menu").menu__img  
    





