extend ../components/template.pug
block content
    .contacto
        .section__header
            .section__header-content
                picture
                    source(media="(min-width:1110px)" srcset="images/contactoDesktop.jpg")
                    source(media="(min-width:768px)" srcset="images/contactoTablet.jpg")
                    img(src="images/contactoMobile.jpg", alt="Sinergia").img-fluid
                .section__header-content-text
                    p.bigEntrance Hagamos #[br] #[strong SINERGIA]
                    h1 Contáctanos
        .contacto__txt 
            h2.title COMUNÍCATE CON NOSOTROS
            p Para nosotros #[strong es muy importante estar en contacto ] con nuestros clientes.
            h3 #[strong ¡Escríbenos!]
        .contacto__box
            .contacto__box__iframe 
                iframe(src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3705.4086955918033!2d-102.36808768505475!3d21.764437985604555!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6149ea6946cbd05a!2zMjHCsDQ1JzUyLjAiTiAxMDLCsDIxJzU3LjIiVw!5e0!3m2!1ses-419!2smx!4v1664468490541!5m2!1ses-419!2smx" width="auto" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade")
            .contacto__box__formShedule
                .contacto__box__formShedule-form 
                    form(action="https://formspree.io/f/xnqwwojk" method="POST").form#my-form
                    action=""
                        .form__container
                            label(for="") Nombre* 
                            input(type='text' placeholder="Ingrese su nombre" required).form__container__input
                            label(for="") Email* 
                            input(type='email' placeholder="Ingrese su email" name="email" required).form__container__input
                            label(for="") Mensaje* 
                            textarea(placeholder="Ingrese su mensaje" name="message" required).form__container__input.form__container__input--message
                            input(type='submit' value='Enviar').form__container__cta
                .contacto__box__formSchedule__schedule 
                    h2 Horarios de Atención
                    .contacto__box__formSchedule__schedule__days
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Lunes: 
                            p.contacto__box__formSchedule__schedule__days__day-hour 8:00 a.m. - 6:00 p.m.
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Martes: 
                            p.contacto__box__formSchedule__schedule__days__day-hour 8:00 a.m. - 6:00 p.m.
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Miércoles: 
                            p.contacto__box__formSchedule__schedule__days__day-hour 8:00 a.m. - 6:00 p.m.
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Jueves: 
                            p.contacto__box__formSchedule__schedule__days__day-hour 8:00 a.m. - 6:00 p.m.
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Viernes: 
                            p.contacto__box__formSchedule__schedule__days__day-hour 8:00 a.m. - 6:00 p.m.
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Sábado: 
                            p.contacto__box__formSchedule__schedule__days__day-hour 8:00 a.m. - 2:00 p.m.
                        .contacto__box__formSchedule__schedule__days__day
                            p.contacto__box__formSchedule__schedule__days__day-name Domingo: 
                            p.contacto__box__formSchedule__schedule__days__day-hour Cerrado.
                    


